.App {
  margin: 60px auto;
  color: #272044;
}

.App-header {
  margin-bottom: 40px;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-logo:hover {
  transform: scale(1.05);
  transition: all 150ms ease-in-out;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
}

.App a {
  color: rgb(150, 112, 243);
  text-decoration: none;
}

.App a:hover {
  color: #6ED9E7;
  text-decoration: underline;
  font-size: 15px;
  transition: all 150ms ease-in-out;
}